@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;
@{
  Script.Include("html5.js").UseCondition("lt IE 9").AtHead();

  string title = Convert.ToString(Model.Title);
  string siteName = "Andrew Connell, MVP SharePoint Server";
  string openGraphLogo = string.Format("http://www.andrewconnell.com{0}", Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Images/logo-openGraph.png")));
  string openGraphTitle = "AC's Blog";
  if (!string.IsNullOrEmpty(title)) {
    openGraphTitle = string.Format("{0}: {1}", openGraphTitle, title);
  }
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <title>@Html.Title(title, siteName)</title>
  <meta property="og:site_name" content="@siteName" />
  <meta property="og:title" content="@openGraphTitle" />
  <meta property="og:image" content="@openGraphLogo" />
  <meta property="og:url" content="@Request.Url.AbsoluteUri" />
  <meta property="og:type" content="website" />
  <!-- Azure Application Insights -->
  <script type="text/javascript">
      var appInsights=window.appInsights||function(config){
          function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
      }({
          instrumentationKey:"e9eb7fd3-9730-43ac-9343-a1edd61622f0"
      });
      
      window.appInsights=appInsights;
      appInsights.trackPageView();
  </script>
  <!-- /Azure Application Insights -->
  @Display(Model.Head)
  <link rel="alternate" type="application/rss+xml" title="Andrew Connell's Blog'" href="http://feeds.andrewconnell.com/AndrewConnell" />
  <script type="text/javascript" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/jquery.main.min.js"))"></script>

  <!-- shareasale affiliate code for pluralsight -->
  <!-- 8D81DB7B-5333-41DC-8A79-8EAF72456112 -->
</head>
<body>
  @Display(Model.Body)
  @Display(Model.Tail)
</body>
</html>
@{
  var timezone = WorkContext.CurrentTimeZone;
  var timestamp = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, timezone);
}<!-- page generated at @(timestamp.ToShortDateString()) @(timestamp.ToLongTimeString()) -->
