@using Orchard.Utility.Extensions;
@{
  if (Model.Title != null) {
    Layout.Title = Model.Title;
  }

  Model.Classes.Add("blogContainer");

  var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
  Model.Classes.Add(contentTypeClassName);

  var tag = Tag(Model, "div");
}
@tag.StartElement
<div>
  @Display(Model.Header)
</div>

@if (Model.Meta != null) {
  <hr />
  @Display(Model.Meta)
  <hr />
}
@Display(Model.Content)
@if (Model.Footer != null) {
  <div>
    @Display(Model.Footer)
  </div>
}
@tag.EndElement