@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;
@{
  RegisterLink(new LinkEntry { Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Images/favicon.ico")) });
  Script.Include("html5.js").UseCondition("lt IE 9").AtHead();

  string title = Convert.ToString(Model.Title);
  string siteName = "Andrew Connell, MVP SharePoint Server";
  string openGraphLogo = string.Format("http://www.andrewconnell.com{0}", Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Images/logo-openGraph.png")));
  string openGraphTitle = string.Format("AC's Blog: {0}", Convert.ToString(Model.Title));
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <title>@Html.Title(title, siteName)</title>
  <meta property="og:title" content="@openGraphTitle" />
  <meta property="og:image" content="@openGraphLogo" />
  <meta property="og:url" content="@Request.Url.AbsoluteUri" />
  <meta property="og:type" content="website" />
  @Display(Model.Head)
  <script type="text/javascript" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/jquery.main.min.js"))"></script>
</head>
<body>
  @Display(Model.Body)
  @Display(Model.Tail)
  <!-- HitTail Code -->
  <script type="text/javascript">
    (function(){ var ht = document.createElement('script');ht.async = true;
      ht.type='text/javascript';ht.src = '//106820.hittail.com/mlt.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ht, s);})();
  </script>
</body>
</html>
<!-- AndrewConnell-v1.0 theme version v1.0.4 -->
@{
  var timezone = WorkContext.CurrentTimeZone;
  var timestamp = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, timezone);
}<!-- page generated at @(timestamp.ToShortDateString()) @(timestamp.ToLongTimeString()) -->