@*Orchard 1.7 Comments shape*@
@using Orchard.Comments.Models
@using Orchard.ContentManagement

@{
  CommentPart comment = Model.ContentPart;
  CommentsPart comments = comment.CommentedOnContentItem.As<CommentsPart>();

  var children = New.List(Items: Model.Items);
  children.Classes.Add("media");
}
<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64" alt="Title">
  </a>
  <div class="media-body" id="comment-@comment.Id">
    <div class="comment">
      <p class="lead">
        @Display.CommentAuthor(ContentPart: comment)
        <span class="lead-meta">@Display.CommentMetadata(ContentPart: comment)</span>
      </p>
      <p class="gray">
        @Display.CommentText(ContentPart: Model.ContentPart, ContentItem: Model.ContentItem)
      </p>
      <div class="clearfix"></div>
      @if (comments.ThreadedComments) {
        <div class="button">
          @Display.CommentReplyButton(ContentPart: comment)
        </div>
      }
    </div>
    <div class="cleafix"></div>
    @Display(children)
  </div>
</li>
